.label-menu {
  display: block;
  cursor: pointer;
  width: 100%;
  background: #000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
.expand {
  display: none;
}
.sub-menu {
  max-height: 0;
  transition: max-height 0.5s linear;
  overflow: hidden;
  background: red;
}
.sub-menu a {
  color: #fff;
}
.expand:checked ~ .sub-menu {
  max-height: 400px;
}
