header {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.toggle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.toggle > span {
  margin-left: 16px;
  font-size: 24px;
}
.toggle a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 24px;
  height: 32px;
  width: 32px;
  text-decoration: none;
}
nav ul li {
  margin-bottom: 10px;
}
nav ul li a {
  color: black;
}
